/* General Styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100%;
    overflow: hidden; 
    background-image: url('src/images/screenshot.jpg');
    background-size: cover; 
    background-position: center; 
  }
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto; /* Add vertical scrollbar */
  }
  
  .dashboard-header {
    background-color: transparent;
    color: white;
    padding: 50px;
    text-align: center;
  }
  
  .dashboard-search {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard-search-input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 20px 0 0 20px; /* Make the left side of the border oblong */
    margin-right: -1px; /* Remove the gap between input and button */
    width: 300px;
  }
  
  .dashboard-search-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 0 20px 20px 0; 
    background-color: #f4f4f4;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dashboard-main {
    flex: 1;
  }
  
  .dashboard-section {
height: 100%;
    background-color:  rgba(20, 90, 76, 0.5); /* Set the background color with 5% transparency */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-section2 {
    background-color: #145A4C; 
    padding: 85px;
    color: white;
  }
  
  .dashboard-footer {
    background-color: #145A4C;
    color: white;
    text-align: left;
    padding: 10px;
    gap: 1.5rem;
    
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
    margin: 0 1rem; /* Add margin to create space between links */
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }