body {
    background-color: #145A4C;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Hide the scrollbar */
}

html {
    overflow: hidden; /* Hide the scrollbar */
}

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #145A4C;
}

.login-left {
    background-image: url('src/images/screenshot.jpg');
    background-size: cover; /* Ensure the background image covers the entire area */
    background-position: center; /* Center the background image */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #145A4C;
    align-items: center;
    justify-content: center;
}
.login-right {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    padding-left: 50px;
    padding-top: 50px;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
    padding-right: 200px;
    padding-bottom: 200px;
}

.login-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: black;
}

.login-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.login-subtitle {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.login-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.login-input {
    width: 100%;
    color: black;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.login-password-container {
    position: relative;
    width: 100%;
}

.login-show-password {
    position: absolute;
    top: 25%;
    right: 0.75rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.25rem;
    background: none;
    border: none;
    cursor: pointer;
}

.login-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.login-button {
    width: 100%;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    margin: 0.5rem 0;
    font-weight: 600;
    border-radius: 0.375rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.login-error {
    color: red;
    margin-bottom: 1rem;
}

.login-divider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem 0;
}

.login-divider-line {
    width: 100%;
    height: 1px;
    background-color: gray;
}

.login-divider-text {
    font-size: 1.125rem;
    position: absolute;
    color: gray;
    background-color: white;
    padding: 0 0.5rem;
}

.login-signup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    
}

.login-signup-text {
    font-size: 0.875rem;
    color: gray;
}

.login-signup-link {
    font-weight: 600;
    color: black;
    cursor: pointer;
    text-decoration: underline;
}